@model MyArmory.Models.UserRegisterModel

@{
    // page title
    ViewBag.Title = "Register";
    
    // base template
    Layout = "~/Views/Template.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        
        @using (Html.BeginForm("Register", "Authentication", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            
            @Html.AntiForgeryToken();
            @Html.ValidationSummary(true);
            
            
            <div class="form-group">
                @Html.LabelFor(Model => Model.Username, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(Model => Model.Username, new { @class = "form-control" })
                    @Html.ValidationMessageFor(Model => Model.Username)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(Model => Model.Password, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.PasswordFor(Model => Model.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(Model => Model.Password)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(Model => Model.PasswordAgain, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.PasswordFor(Model => Model.PasswordAgain, new { @class = "form-control" })
                    @Html.ValidationMessageFor(Model => Model.PasswordAgain)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                    <input class="btn btn-default" type="submit" value="Register" />
                </div>
            </div>

        }

    </div>
</div>